.dayRow {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}
.rowCell {
  box-sizing: border-box;
  flex-grow: 1;
  width: 100%;
  overflow: hidden;
  list-style: none;
  border: solid 1px white;
  text-align: center;
}

.rowCell {
  width: 10%;
  border-color: #000;
}

.hour {
  width: 3.33%;
  border-color: #000;
}
