h2 {
  color: #8f8f91;
  text-transform: uppercase;
  margin-bottom: 3rem;
}

.dayRow {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}
.rowCell {
  box-sizing: border-box;
  flex-grow: 1;
  width: 10%;
  overflow: hidden;
  list-style: none;
  border: solid 0.5px #dfdfe1;
  text-align: center;
  user-select: none;
  color: #c0c0c2;
}

.rowCell.day {
  text-transform: uppercase;
}

.rowCell.day.filled {
  background-color: #dbdbdb;
}

.rowCell.allday {
  background-color: #949494;
}

.rowCell.time {
  border: 0;
  border-left: solid 1px #dfdfe1;
  text-align: left;
  padding-bottom: 2rem;
}

.dayRow.header .rowCell:not(.time) {
  border: 0;
}

.hour {
  width: 3.33%;
}

.hour.taken {
  background-color: #dbdbdb;
}

button {
  background-color: #949494;
  color: #fff;
  border: 0;
  float: right;
  border-radius: 6px;
  padding: 0.5rem 2rem;
  margin: 3rem 0 0 1rem;
  box-shadow: 0 2px 0 #535353;
}
